@using ServiceLookup.Models.UserVM

@model SearchViewModel
<form class="container-fluid" role="search" method="get" asp-controller="User"
      asp-action="FindServices">

    <div class="row px-2 g-3">
        <div class="col col-12 col-md-6">
            <label asp-for="TextSearch" class="form-label">Введіть текст для пошуку за назвою</label>
            <input asp-for="TextSearch" class="form-control me-2" type="search" aria-label="Search">
        </div>
        <div class="col col-12 col-md-6">
            <label asp-for="TypeId" class="form-label">Оберіть тип послуги</label>
            <select asp-for="TypeId" class="form-select" aria-label="Type select">
                <option selected>Оберіть категорію</option>
                @foreach (var type in Model.Types)
                {
                    <option value="@type.Id">@type.Name</option>
                }
            </select>
        </div>
        <div class="col col-12 col-md-4">
            <label asp-for="RateStart" class="form-label">Мінімальний рейтинг</label>
            <input asp-for="RateStart" type="range" class="form-range" min="0" max="10">
        </div>
        <div class="col col-12 col-md-4">
            <label asp-for="RateEnd" class="form-label">Максимальний рейтинг</label>
            <input asp-for="RateEnd" type="range" class=" form-range" min="0" max="10">
        </div>
        <div class="col col-12 col-md-4">
            <div class="form-check">
                <div class="form-check">
                    <input asp-for="IsRatedOnly" class="form-check-input" type="checkbox">
                    <label asp-for="IsRatedOnly" class="form-check-label">
                        Тільки з відгуками
                    </label>
                </div>
            </div>
        </div>
        <div class="col col-auto">
            <label asp-for="Order" class="form-label">Оберіть тип сортування</label>
            <select asp-for="Order" class="form-select" aria-label="Order select">
                <option value="Найновіші">Найновіші</option>
                <option value="Найстаріші">Найстаріші</option>
                <option value="Ім'я">Ім'я</option>
                <option value="Ім'я (у зворотньому)">Ім'я (у зворотньому)</option>
                <option value="Рейтинг">Рейтинг</option>
                <option value="Рейтинг (у зворотньому)">Рейтинг (у зворотньому)</option>
            </select>
        </div>
        <div class="col col-auto">
            <button class="btn btn-outline-success" style="width: 300px;" type="submit">Пошук</button>
        </div>
    </div>


</form>
@await Html.PartialAsync("/Views/User/Partial/ServicesPartial.cshtml", Model.services)

<nav aria-label="...">
    <ul class="pagination justify-content-center">
        @if (Model.pageViewModel.HasPrev)
        {
            <li class="page-item">
                <a class="btn" asp-controller="User" asp-action="FindServices"
               asp-route-TextSearch="@Model.TextSearch" asp-route-TypeId="@Model.TypeId" asp-route-IsRatedOnly="@Model.IsRatedOnly" asp-route-Order="@Model.Order"
               asp-route-RateStart="@Model.RateStart" asp-route-RateEnd="@Model.RateEnd" asp-route-Page="@(Model.pageViewModel.PageNumber-1)" tabindex="-1">Попередні</a>
            </li>
        }
        else
        {
            <li class="page-item disabled"><a class="page-link" tabindex="-1">Попередні</a></li>
        }
        @if (Model.pageViewModel.HasNext)
        {
            <li class="page-item">
                <a class="btn" asp-controller="User" asp-action="FindServices"
               asp-route-TextSearch="@Model.TextSearch" asp-route-TypeId="@Model.TypeId" asp-route-IsRatedOnly="@Model.IsRatedOnly" asp-route-Order="@Model.Order"
               asp-route-RateStart="@Model.RateStart" asp-route-RateEnd="@Model.RateEnd" asp-route-Page="@(Model.pageViewModel.PageNumber+1)" tabindex="-1">Наступні</a>
            </li>
        }
        else
        {
            <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">Наступні</a></li>
        }
    </ul>
</nav>