@using ServiceLookup.Models.ClientVM

@model IEnumerable<MyRequestsViewModel>

<h4 class="text-center px-0">Мої запити на бронювання</h4>
<div class="container py-5 bg-light g-3">

    @foreach (MyRequestsViewModel request in Model)
    {
        <div class="row g-2">
            <div class="card bg py-2 g-3 px-2 bg-white">
                <div class="row">
                    <div class="col-12 col-lg-9 px-5 py-2">
                        <dl class="row text">
                            <dd class="col-6">
                                <h5>Дата бронювання: <span class="badge bg-secondary">@request.DateOfBooking</span></h5>
                            </dd>
                            <dd class="col-6">
                                <h5>Цiна: <span class="badge bg-secondary">100 грн.</span></h5>
                            </dd>
                        </dl>
                        <dl class="row text">
                            <dd class="col-auto">
                                <h5>Час бронювання:</h5>
                            </dd>
                            <dd class="col-auto">
                                <h5>з <span class="badge bg-secondary">@request.EndOfBooking</span></h5>
                            </dd>
                            <dd class="col-auto">
                                <h5>до <span class="badge bg-secondary">@request.EndOfBooking</span></h5>
                            </dd>
                        </dl>
                        <dl class="row">
                            <dd class="col-auto">
                                <h5>Інформація:</h5>
                            </dd>
                            <dd class="col">
                                <textarea class="form-control" rows="3" type="text"
                                      placeholder="@request.Description"
                                      aria-label="readonly input example" readonly></textarea>
                            </dd>
                        </dl>
                        <div class="row">
                            <div class="d-grid col-6">
                                <a asp-controller="Client" asp-action="DeleteRequest" asp-route-id="@request.Id" class="btn btn-secondary btn-md">Видалити</a>
                            </div>
                            <div class="col-6">
                                <h5>Статус заявки: <span class="badge bg-success">Підтверджено майстером</span></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-3 py-2 px-2">
                        @if (request.ServiceImage == null)
                        {
                            <img class="img-fluid img-thumbnail" src="~/images/massage5.jpg">
                        }
                        else
                        {
                            <img class="img-fluid img-thumbnail" src="@request.ServiceImage">

                        }
                        <h4 class="text-black text-center">@request.ServiceTitle</h4>
                        <div class="d-grid">
                            <a asp-controller="User" asp-action="GetService" asp-route-id="@request.ServiceId" class="btn btn-outline-success">Переглянути послугу</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

</div>