@using ServiceLookup.BL.DTO
@model IEnumerable<ServiceDTO>

<h4 class="text-center">Перегляд власних послуг</h4>
<a asp-controller="Manage" asp-action="CreateService" class="btn btn-success py-2 px-2" style="width: 100%; ">Створити нову послугу</a>

<div class="container py-5 bg-light">
    <div class="row row-cols-2 row-cols-md-3 row-cols-xxl-4 g-3">
        @foreach (var service in Model)
        {
            <div class="col">
                <div class="card shadow-sm">
                    <div class="bg-image hover-overlay ripple">
                        @if (service.Image == null)
                        {
                            <img src="/images/icons/no_image.svg" class="img-fluid" style="width:20%">
                        }
                        else
                        {
                            <img src="@service.Image" class="img-fluid" style="width:100%">
                        }
                        <a>
                            <div class="mask" style="background-color: rgba(57, 192, 237, 0.2);"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <p class="card-text" style="font-size: large;">@service.Title</p>
                        <dl class="row">
                            <dd class="col-6 text-start">Рейтинг</dd>
                            <dd class="col-6 text-end">@service.AverageRate</dd>
                            <dd class="col-6 text-start">Ціна</dd>
                            <dd class="col-6 text-end">@service.Price.Value @service.Price.Currency</dd>
                        </dl>
                        <div class="d-flex justify-content-between align-items-center">
                            <a href="/Manage/MyService/@service.Id" class="btn btn-sm btn-success">
                                Докладнiше
                            </a>
                            <small class="text-muted">Сьогодні, 17:43</small>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>