@using ServiceLookup.BL.DTO

@model IEnumerable<ReviewDTO>

<div class="container py-5 bg-light g-3">
    @foreach (ReviewDTO review in Model)
    {
        <div class="row g-2">
            <div class="card bg py-2 g-3 px-2 bg-white">
                <div class="row">
                    <div class="col-12 col-lg-9 px-5 py-2">
                        <dl class="row text">
                            @foreach (ReviewCriteriaDTO criteria in review.Criterias!)
                            {
                                <dd class="col-3">
                                    <h5>@criteria.Title : <span class="badge bg-secondary">@criteria.Rate</span></h5>
                                </dd>
                            }
                        </dl>
                        <dl class="row">

                            <dd class="col-auto">
                                <h5>Текст відгуку:</h5>
                            </dd>
                            <dd class="col">
                                <textarea class="form-control" rows="3" type="text"
                                      placeholder="@review.Text"
                                      aria-label="readonly input example" readonly></textarea>
                            </dd>
                        </dl>
                    </div>
                    <div class="col-12 col-lg-3 py-2 px-2">
                        @if (review.Service!.Image == null)
                        {
                            <img class="img-fluid img-thumbnail" src="~/images/massage5.jpg">
                        }
                        else
                        {
                            <img class="img-fluid img-thumbnail" src="@review.Service.Image">

                        }
                        <h4 class="text-black text-center">@review.Service.Title</h4>
                        <div class="d-grid">
                            <a asp-controller="User" asp-action="GetService" asp-route-id="@review.ServiceId" class="btn btn-outline-success px-2 py-2">Переглянути послугу</a>
                            <a asp-controller="User" asp-action="GetUser" asp-route-id="@review.UserId" class="btn btn-outline-success px-2 py-2">Переглянути автора відгуку</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>